body {
  font-family: "Poppins", sans-serif;
  background: #0b0b13;
}

p {
  color: #bbb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p.cita {
  color: rgba(187, 187, 187, 0.4);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
li {
  color: #ddd;
}

h6:after {
  content: "";
  height: 1.5px;
  width: 22px;
  display: inline-block;
  background: #5ba199;
  position: relative;
  top: -6px;
  left: 13px;
}

h6:before {
  content: "";
  height: 1.5px;
  width: 22px;
  display: inline-block;
  background: #5ba199;
  position: relative;
  top: -6px;
  right: 13px;
}

hr {
  height: 2px;
  color: rgba(255, 255, 255, 0.4);
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  margin-bottom: 36px;
}

.rrss li {
  display: inline-block;
  padding: 20px;
  border: 1px solid #1e776d;
}
.rrss li i {
  color: #1e776d;
  font-size: 38px;
}

h1 {
  margin-top: 12px;
  font-size: 78px;
  font-weight: 700;
  line-height: 90px; /* 128.205% */
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 80px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h6 {
  color: #5ba199;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

.btn-primary {
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 17px;
  color: #ddd;
  border-radius: 1px;
  background: #1e776d;
}

.btn-ghost {
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  padding: 10px 17px;
  border-radius: 1px;
  border: 1px solid #1e776d;
  color: #1e776d;
  transition: 0.15s ease-in-out;
}

.btn-ghost:hover {
  background-color: #1e776d;
  color: #ddd;
}

.hero-section {
  background-color: #07070f;
}
.hero-section header figure {
  margin-top: 14px;
}
.hero-section header figure img {
  max-width: 90px;
  margin-left: -6px;
}
.hero-section header .btn-menu {
  justify-content: end;
  align-content: center;
  display: flex;
}
.hero-section header .btn-menu button.navbar-toggler {
  padding-right: 0;
}
.hero-section header .btn-menu button.navbar-toggler span {
  color: #dddddd;
  font-size: 42px;
}
.hero-section header .btn-menu button.navbar-toggler:focus-visible {
  outline: none;
}
.hero-section header .btn-menu button.navbar-toggler:focus {
  box-shadow: none;
}
.hero-section header ul {
  padding-top: 38px;
  padding-bottom: 38px;
}
.hero-section header ul a {
  color: #ddd;
}
.hero-section header ul a li {
  margin-left: 42px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.hero-section header ul a:hover li::after {
  content: "";
  width: 40%;
  height: 3px;
  background: #5ba199;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1px;
  transition: all 0.5s ease-in-out;
}
.hero-section header ul a.active li::after {
  content: "";
  width: 40%;
  height: 3px;
  background: #5ba199;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1px;
}
.hero-section header ul a.active:nth-last-child(1) li::after {
  content: "";
  width: 0;
  height: 0;
}
.hero-section header ul a:nth-last-child(1):hover li::after {
  content: "";
  width: 0;
  height: 0;
}
.hero-section header ul a.active.btn-ghost li::after {
  content: "";
  width: 0;
  height: 0;
}
.hero-section header ul li.btn-ghost a {
  color: #1e776d;
}
.hero-section header ul li.btn-ghost:hover a {
  color: #ddd;
}
.hero-section header#header-scroll {
  background-color: #141421;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.hero-section header#header-scroll figure {
  margin: 0;
}
.hero-section header#header-scroll .navbar-nav {
  padding-top: 20px;
  padding-bottom: 25px;
}
.hero-section .info-hero-section {
  margin-top: 90px;
  margin-bottom: 160px;
}
.hero-section .info-hero-section span {
  color: #dddddd;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
}
.hero-section p {
  margin-bottom: 58px;
}

main section {
  margin-top: 160px;
}
main .main-conozcamonos h4 {
  margin-bottom: 28px;
}
main .main-conozcamonos .conozcamonos-1 {
  margin-bottom: 160px;
}
main .main-conozcamonos .conozcamonos-2 ul li {
  list-style-type: square;
  margin-bottom: 18px;
  margin-left: 34px;
}
main .main-conozcamonos .conozcamonos-2 ul li span {
  font-weight: 600;
}
main .main-conozcamonos .footer-article {
  position: absolute;
  bottom: 0;
  width: 95%;
}
main .main-conozcamonos .footer-article hr {
  margin-bottom: 6px;
}
main .main-portafolio h2 {
  margin-bottom: 30px;
}
main .main-portafolio ul {
  margin-bottom: 60px;
}
main .main-portafolio ul li button {
  border-radius: 1px !important;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  padding: 10px 17px;
  border-radius: 1px;
  border: 1px solid #1e776d;
  color: #1e776d;
  margin-left: 20px;
  transition: 0.25s ease-in-out;
}
main .main-portafolio ul li button:hover {
  border-radius: 1px;
  background-color: #1e776d;
  color: #ddd;
}
main .main-portafolio ul li button.nav-link.active {
  border-radius: 1px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 17px;
  color: #ddd;
  border-radius: 1px;
  background: #1e776d;
}
main .main-portafolio .tab-content a img {
  width: 100%;
  max-height: 403px;
}
main .main-servicios h2 {
  margin-bottom: 66px;
}
main .main-servicios .mt {
  margin-top: 24px;
}
main .main-servicios article {
  padding: 28px;
  border-radius: 1px;
  background: #141421;
  transition: 0.15s ease-in-out;
}
main .main-servicios article span {
  font-size: 68px;
  color: #5ba199;
  margin-bottom: 18px;
}
main .main-servicios article h3 {
  font-size: 24px;
  font-weight: 600;
}
main .main-servicios article:hover {
  background: #1e776d;
}
main .main-servicios article:hover span {
  color: #ddd;
}
main .main-contactame h4 {
  margin-bottom: 16px;
}
main .main-contactame .contactame-form form .c-form input {
  padding: 12px 24px;
  color: #bbb;
  border-radius: 1px;
  background: #141421;
  height: 48px;
  border: none;
  margin-bottom: 20px;
}
main .main-contactame .contactame-form form .c-form input:focus {
  color: #bbb;
}
main .main-contactame .contactame-form form textarea {
  min-height: 140px;
  padding: 12px 24px;
  color: rgba(187, 187, 187, 0.4);
  border: none;
  border-radius: 1px;
  background: #141421;
}
main .main-contactame .contactame-form form textarea:focus {
  color: #bbb;
}
main .main-contactame .contactame-form form .c-button {
  margin-top: 40px;
}

footer {
  padding-top: 52px;
  padding-bottom: 36px;
  margin-top: 160px;
  background: #141421;
}
footer h2 {
  margin-bottom: 26px;
}
footer p {
  margin: 0;
}
footer hr {
  max-width: 500px;
}
footer .rrss li {
  padding: 10px;
}
footer .rrss li i {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: calc(var(--bs-gutter-x) * 0.75);
    padding-left: calc(var(--bs-gutter-x) * 0.75);
  }
  h6 {
    font-size: 12px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 32px;
  }
  h4 {
    margin-top: 52px;
    font-size: 16px;
  }
  p,
  li {
    font-size: 14px;
  }
  img {
    width: 100%;
  }
  main section {
    margin-top: 80px;
  }
  section.hero-section header .items-menu ul li {
    margin-bottom: 28px;
    margin-left: 0px;
  }
  section.hero-section article.info-hero-section span {
    font-size: 16px;
  }
  section.hero-section article.info-hero-section h1 {
    font-size: 48px;
    line-height: 72px;
  }
  main .main-conozcamonos .conozcamonos-1 {
    margin-bottom: 75px;
  }
  main .main-conozcamonos .article-conozcamonos-2 {
    margin-bottom: 84px;
  }
  main .main-conozcamonos .footer-article {
    bottom: -44px;
  }
  main .main-portafolio ul.nav-pills {
    margin-bottom: 32px;
  }
  main .main-portafolio ul.nav-pills li {
    margin-bottom: 20px;
  }
  main .main-contactame .contactame-info .rrss {
    margin-bottom: 32px;
  }
}

/*# sourceMappingURL=estilos.css.map */
